*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(83, 83, 176);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
   }
   .navbar{
    height: 70px;
    background-color:black; 
   }
   .menubar{
    width: 90%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
   }
   ul li img{
    margin-top: -20px
   }
   ul li{
    margin-top: 20px;
   }
    ul li a{
        text-decoration: none;
        color: whitesmoke;
        padding:20px;
        font-size: 25px;
        transition: 0.5s;
    
   }
   
   .menubar img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 500px;
   }
   center h1{
    color: whitesmoke;
    font-style: italic;
   }
   p{
    font-size: 30px;
       margin-left:-560px;
       color:yellowgreen;
       font-style: italic;
   }
   .menubar{
        height: 40px;
   }
   
   ul li a:hover{
       
       color:yellowgreen;
   } 
   .section .con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .section .con h1{
    color: whitesmoke;
    font-style: italic;
    font-size: 50px;
   }
   

.container{
    text-align: center;position: relative;margin-top:-100px;background-color: rgb(253, 251, 251);
}
#contitle{
    margin-top:30px;
    text-align: center;
    font-size: 30px;
    
}
#subbut{
    margin-top:10px;background-color: rgb(218, 145, 10);color:rgb(34, 33, 33);
    width: 150px;
    height: 30px;
    color:black;
    font-weight: bold;
}
#inputs{
    width:300px;
    height: 30px;
   border-radius: 5px;
}
.section .card{
    height: 300px;
    width: 400px;
    background-color: rgb(222, 217, 217);
     border-radius: 30px
}
.section ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.section .card img{
    height: 200px;
    width: 350px;
    margin: 20px;
} 
.section .card img:hover{
   border: 3px solid rgb(83, 83, 176);
   
} 
.section .con li{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color:white
}
.section .con li span{
   
    color:rgb(83, 83, 176);
}
#card_course{
    height:500px;
}
#card_course img{
    height:300px;
}
#card_course button{
   background-color: rgb(203, 206, 15);
   width: 70px;
   height: 30px;
   
}
.foot_con{
    height: 95px;
    background-color:black; 
   
}
.foot_con .copy{

    display: flex;
    align-items: center;
    justify-content: center;
}
.foot_con .social_icons{
    
    display: flex;
    align-items: center;
   justify-content: center;
    list-style-type: none;
}   